.box{
    height: 300px;
    width:100px;
    border: solid black;
    position:absolute;
}
.one{
    background-color: red;
    width: 100px;
    height:100px;
    border-radius: 50%;
}
.two{
    background-color:yellow;
    width: 100px;
    height:100px;
    border-radius: 50%;
}
.three{
    background-color: green;
    width: 100px;
    height:100px;
    border-radius: 50%;
}